body {
    background-image: url(fon.jpg);
    max-width: 1100px;
    margin: 0 auto;
}
div {
    border: 1px solid black;
    padding: 5px 15px;
}
h4 {
    text-align: center;
}
.header {
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    background-image: url('header1.jpg!d');
    min-height: 200px;
    line-height: 200px;
    text-align: center;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71)
}
.sidebar {
	background: #dedede;
	float: left;
	margin-right: 10px;
	max-width: 200px;
	min-width: 150px;
}
.sidebar1 {
	background: #eeeee8;
	float: right;
	margin-left: 10px;
	max-width: 200px;
}
.container {
	background: #eeedebea;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
.footer {
	font-weight: bold;
	color: #fff;
	background: #505050;
	min-height: 30px;
	line-height: 30px;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
clearfix {
	clear: both;
}